.pure-form sup,
.form-errors{
    color: #e9322d;
    }

.form-errors,
.form-success {
	display: none;
	margin-top: 20px;
    line-height: 1.5;
    margin-left: 135px;
    font-size: 14px;
	}

.form-success {
	color: #749E6E;
	}

.spinner {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.5) url(../img/spinner.gif) 50% no-repeat;
	z-index: 5;
}

.showModal {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;

	display: block;

	background: rgba(0,0,0,.7);
	z-index: 99;
	max-width: 100%;

	overflow-y: auto;
	text-align: center;
	}
	.showModal:before {
		content: '';
		min-height: 100%;
		display: inline-block;
		vertical-align: middle;
		}

	.showModal .popup_cnt {
		position: relative;
		z-index: 100;

		display: inline-block;
		max-width: 550px;
		min-width: 404px;
		margin: 30px 0;

		vertical-align: middle;
		text-align: left;
		border-radius: 5px;
		background: #fff;
		}

.isl {/* select list */
	width: 100%;
	color: #333;
	height: 20px; /* for opera */
	margin: 0;
	}

.isl__promo {
	height: 28px;
	max-height: 28px;
	line-height: 28px;
	margin-top: 0 !important;
	}